* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.app {
  position: relative;
  overflow: hidden;
  height: 100%;
}

/* 代码 */
.code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', 'Courier New',
    'sans-serif';
  color: #fff;
  animation: rotate 3s linear 20s;
}

@keyframes rotate {
  0% {
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(180deg);
    opacity: 0;
  }
}

.code__inner {
  min-width: 255px;
  min-height: 110px;
  font-size: 12px;
  line-height: 1.5em;
}

.keyword {
  color: #c586c0;
}

.string {
  color: #569cd6;
}

.underline {
  color: #fff;
}

/* 计数 */
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: show 3s linear;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 心跳 */
.heart {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #f00;
  filter: drop-shadow(0px 0px 10px rgb(255, 20, 20));
  transform: rotate(45deg);
  animation: heart-beat 1s ease-in-out infinite;
}

.heart::before {
  position: absolute;
  left: -40px;
  width: 80px;
  height: 80px;
  background-color: #f00;
  border-radius: 50%;
  content: '';
}

.heart::after {
  position: absolute;
  top: -40px;
  width: 80px;
  height: 80px;
  background-color: #f00;
  border-radius: 50%;
  content: '';
}

@keyframes heart-beat {
  0% {
    transform: rotate(45deg) scale(0.85, 0.85);
    opacity: 0.9;
  }
  25% {
    transform: rotate(45deg) scale(1, 1);
    opacity: 0.85;
  }
  100% {
    transform: rotate(45deg) scale(0.8, 0.8);
    opacity: 1;
  }
}

/* 天数 */
.counter__days {
  margin-top: 80px;
}

.days {
  font-size: 70px;
  font-family: 'GreatVibes', cursive;
  color: #fff;
  text-shadow: 0px 4px 8px rgb(255, 255, 255);
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/GreatVibes-Regular-2.otf');
}

/* 雨滴 */
.drop {
  position: absolute;
  font-size: 50px;
}

/* 消息 */
.message {
  position: absolute;
  height: 40px;
  padding: 9px 13px;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei,
    \\5fae\8f6f\96c5\9ed1, Arial, sans-serif;
  border-radius: 3px;
  background-color: #fff;
  animation: remove 1s linear 7s;
}

.message::before {
  position: absolute;
  top: 14px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: #fff;
  content: '';
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
